bin/
.vscode/

release_packages/

.git/
.vs/
srcs/.vscode/

DECX_Async/build/
DECX_Async/x64/
DECX_core_CPU/build/
DECX_core_CPU/x64/
DECX_core_CUDA/build/
DECX_core_CUDA/x64/
DECX_BLAS_CPU/build/
DECX_BLAS_CPU/x64/
DECX_BLAS_CUDA/build/
DECX_BLAS_CUDA/x64/
DECX_DSP_CPU/build/
DECX_DSP_CPU/x64/
DECX_DSP_CUDA/build/
DECX_DSP_CUDA/x64/
DECX_CV_CPU/build/
DECX_CV_CPU/x64/
DECX_CV_CUDA/build/
DECX_CV_CUDA/x64/
DECX_NN_CPU/build/
DECX_NN_CPU/x64/
DECX_NN_CUDA/build/
DECX_NN_CUDA/x64/
