bin/
.vscode/

release_packages/

samples/x64

.git/
.vs/
srcs/.vscode/


DECX_core_CPU/build/
DECX_core_CPU/GNU/
DECX_core_CPU/MSVC/
DECX_core_CPU/Clang/

DECX_core_CUDA/build/
DECX_core_CUDA/GNU/
DECX_core_CUDA/MSVC/
DECX_core_CUDA/Clang/

DECX_BLAS_CPU/build/
DECX_BLAS_CPU/x64/
DECX_BLAS_CPU/MSVC/
DECX_BLAS_CPU/Clang/

DECX_BLAS_CUDA/build/
DECX_BLAS_CUDA/MSVC/
DECX_BLAS_CUDA/GNU/
DECX_BLAS_CUDA/Clang/

DECX_DSP_CPU/build/
DECX_DSP_CPU/MSVC/
DECX_DSP_CPU/GNU/
DECX_DSP_CPU/Clang/

DECX_DSP_CUDA/build/
DECX_DSP_CUDA/GNU/
DECX_DSP_CUDA/MSVC/
DECX_DSP_CUDA/Clang/

DECX_CV_CPU/build/
DECX_CV_CPU/MSVC/
DECX_CV_CPU/GNU/
DECX_CV_CPU/Clang/

DECX_CV_CUDA/build/
DECX_CV_CUDA/MSVC/
DECX_CV_CUDA/GNU/
DECX_CV_CUDA/Clang/

DECX_NN_CPU/build/
DECX_NN_CPU/MSVC/
DECX_NN_CPU/GNU/
DECX_NN_CPU/Clang/

DECX_NN_CUDA/build/
DECX_NN_CUDA/MSVC/
DECX_NN_CUDA/GNU/
DECX_NN_CUDA/Clang/

Python/build/
